@model EditDeckViewModel

@{
    ViewData["Title"] = "GetAllCards";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="bg-primary text-white p-2 rounded">
                <h5>@Model.Deck.Deck_Name</h5>
                <p>@Model.Deck.Deck_Description</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal-@Model.Deck.Deck_Id">
                    Editar Mazo
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <!-- MODAL 1-->
        <div class="modal fade" id="detailsModal-@Model.Deck.Deck_Id" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel">Editar Mazo: @Model.Deck.Deck_Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Aquí puedes agregar más detalles según sea necesario -->
                        @using (Html.BeginForm("EditDeckValues", "Deck", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.Deck.Deck_Id)
                            @Html.HiddenFor(model => model.Deck.Deck_Background_Image)

                            <div class="form-group">
                                <label for="deckName">Nombre del mazo</label>
                                <div class="input-group mb-3">
                                    <span class="auth-form-icon">
                                        <i class="dripicons-user"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.Deck.Deck_Name, new { @class = "form-control" })
                                </div>
                            </div>

                            <!--end form-group-->

                            <div class="form-group">
                                <label for="deckDescription">Descripcion</label>
                                <div class="input-group mb-3">
                                    <span class="auth-form-icon">
                                        <i class="dripicons-lock"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.Deck.Deck_Description, new { @class = "form-control" }) <!--falta value-->

                                </div>
                            </div>
                            <!--end form-group-->

                            <div class="col-12 mt-2 text-center">
                                <button class="btn btn-primary btn-rounded btn-block waves-effect waves-light mx-auto" id="btnEdit" name="btnEdit" type="submit">
                                    Editar Mazo <i class="fas fa-sign-in-alt ml-1"></i>
                                </button>
                            </div> <!--end form-group-->
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ... -->

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCardModal">
            Agregar Carta
        </button>


        <!-- MODAL 2-->
        <div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel">Agregar Carta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Aquí puedes agregar más detalles según sea necesario -->
                        @using (Html.BeginForm("AddCardToDeck", "Deck", FormMethod.Post, new { @class = "form-horizontal m-t-30" }))
                        {
                            @Html.HiddenFor(model => model.Deck.Deck_Id)

                            <div class="form-group">
                                <label for="cardName">Nombre de la carta por agregar</label>
                                <div class="input-group mb-3">
                                    <span class="auth-form-icon">
                                        <i class="dripicons-user"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.Card.Card_Name, new { @class = "form-control" })
                                </div>
                            </div>

                            <!--end form-group-->

                            <div class="col-12 mt-2 text-center">
                                <button class="btn btn-primary btn-rounded btn-block waves-effect waves-light mx-auto" id="btnAdd" name="btnAdd" type="submit">
                                    Agregar <i class="fas fa-sign-in-alt ml-1"></i>
                                </button>
                            </div> <!--end form-group-->
                        }


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ... -->
        @foreach (var item in Model.CardList)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm" style="width: 18rem;">
                    <img src="@item.Card_Image_Url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Card_Name</h5>
                        <p>Cantidad: @item.Card_Quantity</p>
                        @*  <p class="card-text">@item.Id</p> *@

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Scripts de Bootstrap 5 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

