@model IEnumerable<CardsLand_Web.Entities.UserEnt>
@{
	ViewData["Title"] = "GetAllUsers";
}

<!doctype html>
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Tus etiquetas de encabezado (head) aquí -->
</head>
<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh; background-image: url('/template/img/PokemonFondo9.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">

    <div style="flex: 1;">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <br>
                    <div class="col-md-4 text-center mb-5" style="background-color: rgba(255, 255, 255, 0.6); padding: 10px; border-radius: 10px; color: #your_color;">
                        <h2 class="heading-section">PokeTrainers</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="background-color: rgba(255, 255, 255, 0.3); color: black;">
                        <div class="table-wrap">
                            <table class="table table-responsive-xl table-bordered" style="border-radius: 10px;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="color: black; min-width: 150px;">Nickname</th>
                                        <th class="text-center" style="color: black;">Correo Electronico</th>
                                        <th class="text-center" style="color: black;">Estado</th>
                                        <th class="text-center" style="color: black; min-width: 150px;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        <tr style="height: 50px; border-radius: 10px;">
                                            <td class="text-center" style="background-color: rgba(255, 255, 255, 0.3);">
                                                <span style="color: black;">@x.User_Nickname</span>
                                            </td>
                                            <td class="text-center" style="background-color: rgba(255, 255, 255, 0.3);">
                                                <span style="color: black;">@x.User_Email</span>
                                            </td>
                                            <td class="text-center" style="background-color: rgba(255, 255, 255, 0.3);">
                                                @if (x.User_State)
                                                {
                                                    <span class="text-success" style="color: green;">Activo</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger" style="color: red;">Inactivo</span>
                                                }
                                            </td>
                                            <td class="text-center" style="background-color: rgba(255, 255, 255, 0.3);">
                                                <a href="@Url.Action("EditSpecificUser", "User", new { UserId = x.User_Id })" class="btn btn-sm btn-primary">
                                                    <span style="color: black;">Editar Usuario</span>
                                                    <i class="fa fa-pencil"></i>
                                                </a>

                                                @if (x.User_State)
                                                {
                                                    <form method="post" asp-action="DisableSpecificUser" asp-controller="User" class="d-inline">
                                                        <input type="hidden" name="User_Id" value="@x.User_Id" />
                                                        <button type="submit" class="btn btn-sm btn-danger">Desactivar Usuario</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form method="post" asp-action="ActivateAccount" asp-controller="User" class="d-inline">
                                                        <input type="hidden" name="User_Id" value="@x.User_Id" />
                                                        <button type="submit" class="btn btn-sm btn-success">Activar Usuario</button>
                                                    </form>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer style="margin-top: auto; color: #your_color;">
        <!-- Agrega aquí el código de tu footer -->
    </footer>

</body>



</html>




